<div class="wrapper">
    <!-- Row for short recipe details and headline image -->
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <span>
                <h1>
                <a class="btn btn-primary" role="button" ng-click="$parent.favoriteRecipe(recipe)" ng-show="$parent.user=='0' || $parent.user.favorites.indexOf(recipe.id) == -1">
                    <span class="fa fa-star" aria-hidden="true"></span>
                </a> 
                <a class="btn btn-warning" role="button" ng-click="$parent.unfavoriteRecipe(recipe.id)" ng-show="$parent.user!='0' && $parent.user.favorites.indexOf(recipe.id) != -1">
                    <span class="fa fa-star-o" aria-hidden="true"></span>
                </a>
                {{recipe.name}}
                </h1>
                <span ng-bind-html="$parent.trust($parent.setRating(recipe.rating))" />
            </span>
            <!-- display total time, course, cuisine, and yeild -->
            <div class="row details">
                <h4> Details </h4>
                <div class="col-sm-4 col-md-4">
                    <span ng-show="recipe.totalTime" class="fa fa-clock-o"> {{recipe.totalTime}} </span> <br>
                    <span ng-show="recipe.attributes.course[0]" class="fa fa-spoon"> {{recipe.attributes.course[0]}}</span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <span ng-show="recipe.attributes.cuisine[0]" class="fa fa-globe"> {{recipe.attributes.cuisine[0]}}</span> <br>
                    <span ng-show="recipe.yield" class="fa fa-users"> {{recipe.yield}}</span>
                </div>
            </div>
            <!-- Display source for recipe, which is the original blog link and recipe link -->
            <div class="row details">
                <h4> Source </h4>
                <p class="source-details"> 
                    <a href="http://www.{{recipe.source.sourceSiteUrl}}"> {{recipe.source.sourceDisplayName}}</a> Food Blog <br>
                    Read the full recipe with instructions <a href="{{recipe.source.sourceRecipeUrl}}"> here </a> 
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <img class="details-pic center-block" ng-attr-src="{{(recipe.images)[0].hostedLargeUrl}}" ng-attr-alt="{{recipe.name}}">
        </div>
    </div>
    <br>
    <hr>
    <!-- New row for ingredients list and recipe user reviews -->
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <h3> Ingredients </h3>
            <ul class="ingredients-list">
                <li ng-repeat="line in recipe.ingredientLines track by $index">
                {{line}}
                </li>
            </ul>
        </div>
        <div class="col-sm-7 col-md-7">
            <h3> Reviews </h3>
            <a class="review-cta" ng-show="user == '0'" href="#/login" target="_blank"> Sign in to write a review </a>
            <span class="error-message">{{errorMessage}}</span>
            <span class="success-message">{{successMessage}}</span>
            <div id="review-form" ng-show="user != '0'">
                <h4>{{user.username}}'s Review</h4>
                <form class="review-form" role="form" ng-model="review.username">
                    <div class="form-group">
                        <input ng-model="review.text" type="textarea" class="form-control" id="review" placeholder="Write your review here..." />
                    </div>
                    <div class="form-group">
                        <button ng-click="saveReview(review)"type="submit" class="btn btn-primary">Submit</button>
                   </div>
                </form>
            </div>
            <div>
                <div class="review" ng-repeat="review in reviews track by $index">
                    <h4><a href="#/profile/{{review.username}}">{{review.username}}</a></h4>
                    <p>{{review.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
