body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0px;
	margin-top: 80px;
}

nav a {
	color: black;
}

nav {
	background: white;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 40px;
}

.navbar-brand img {
	margin-top: -10px;
	display: inline;
}

ul.navbar-nav {
	margin-top: 8px;
}

.navbar-toggle, .navbar-toggle .icon-bar {
	border: 1px solid #BBB;
}

.recipe-search-input-group {
	width: 50%;
  	margin: 30px auto;
}

.pic-and-title {
	margin-top: 10px;
	height: 100px;
}

.pic-and-title img {
	padding-right: 10px;
	display: inline;
	float: left;
}

.pic-and-title h3 {
   	display: inline;
}

hr.above-line {
	margin-top: 30px;
	margin-bottom: 10px;
}

hr.below-line {
	margin-top: 10px;
}

.profile-sidebar {
	display: inline-table;
  	border: 1px solid #eee;
  	padding: 10px;
  	border-radius: 7px;
  	margin-right: 10px;
}

.profile-reviews {
	display: inline-table;
  	padding: 0px 10px;
}

.no-reviews-message {
	color: gray;
}

#collapseLink {
	text-transform: uppercase;
	color: gray;
	cursor: pointer;
}

.number-following {
	font-size: 20px;
  	color: rgb(48, 141, 232);
}

.follow-button {
	margin-top: 10px;
}

#followingCollapse ul {
	list-style: none;
}
