body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0px;
	margin-top: 60px;
}

nav a {
	color: black;
}

nav {
	background: white;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 40px;
}

.navbar-brand img {
	margin-top: -10px;
	display: inline;
}

ul.navbar-nav {
	margin-top: 8px;
}

.username-welcome {
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
}

.recipe-thumbnail .ingredient-list {
	-webkit-line-clamp: 3; 
   	line-height: 20px;
   	height: 60px; 
   	text-overflow: ellipsis;      
}

.recipe-thumbnail h3 {
	-webkit-line-clamp: 2; /* number of lines to show */
   	line-height: 26px;        /* fallback */
   	height: 52px;       /* fallback */
}