body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0px;
	margin-top: 80px;
}

nav a {
	color: black;
}

nav {
	background: white;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 40px;
}

.navbar-brand img {
	margin-top: -10px;
	display: inline;
}

ul.navbar-nav {
	margin-top: 8px;
}

.recipe-search-input-group {
	width: 50%;
  	margin: 30px auto;
}

.pic-and-title {
	margin-top: 10px;
	height: 100px;
}

.pic-and-title img {
	padding-right: 10px;
	display: inline;
	float: left;
}

.pic-and-title h3 {
   	display: inline;
}

hr.above-line {
	margin-top: 30px;
	margin-bottom: 10px;
}

hr.below-line {
	margin-top: 10px;
}
