<p>{{errorMessage}}</p>

<!-- Username, following info, follow/unfollow button -->
<div ng-show="profileUser" class="profile-section bordered-profile-section">
	<h1>{{profileUser.username}}</h1>
	<!-- Whog profileUser is following -->
	<div class="following-info">
		<hr/>
		<div id="collapseLink" data-toggle="collapse" data-target="#followingCollapse" aria-expanded="false" aria-controls="followingCollapse">
		 	Following 
		 	<span class="number-following">({{(profileUser.following).length}})</span>
		 	<span ng-show="(profileUser.following).length" class="fa fa-chevron-up" />
		</div>
		<div class="collapse" id="followingCollapse" ng-show="(profileUser.following).length">
		  	<ul>
		    	<li ng-repeat="followedUser in profileUser.following">
					<a ng-attr-href="#/profile/{{followedUser}}">{{followedUser}}</a>
				</li>
		  	</ul>
		</div>
	</div>
	<button class="btn btn-primary follow-button" ng-show="showFollow" ng-click="follow()">
		<span class="fa fa-user-plus"></span>
		Follow
	</button>
	<button class="btn btn-default follow-button" ng-show="showUnfollow" ng-click="unfollow()">
		<span class="fa fa-user-times"></span>
		Unfollow
	</button>
</div>

<!-- User's reviews -->
<div ng-show="profileUser && reviews && reviews.length > 0" class="profile-section bordered-profile-section">
	<h3>Reviews</h3>
	<hr/>
    <div ng-repeat-start="review in reviews">
		<a ng-attr-href="#/recipe/{{review.recipeId}}">
			<h4>{{review.recipeName}}</h4>
		</a>
	    <p>{{review.text}}</p>
	    <hr/>
    </div>
    <div ng-repeat-end=""></div>
</div>
<p class="no-reviews-message profile-section" ng-show="!(reviews) || reviews.length == 0">{{profileUser.username}} hasn't written any reviews.</p>