<h1> Search </h1>

<br/>
<div class="input-group recipe-search-input-group">
  	<input placeholder='Search...' class="form-control" ng-model='recipe.q' type='text'/>
  	<span class="input-group-btn">
	    <button class="btn btn-default" type="button" ng-click='search(recipe)'>
	    	<span class="fa fa-search"/>
	    </button>
  	</span>
</div>

<div class="row" ng-show="recipes">
    <div class="col-sm-6 col-md-4" ng-repeat-start="recipe in recipes">
    	<div class="thumbnail recipe-thumbnail">
    		<div class="pic-and-title">
	    		<img ng-attr-src="{{(recipe.imageUrlsBySize)[90]}}" ng-attr-alt="{{recipe.recipeName}}">
	    		<h3>{{recipe.recipeName}}</h3>
	    		<p class="ingredient-list">
		        	{{formatIngredients(recipe.ingredients)}}
		        </p>
	    	</div>
	      	<div class="caption">
		        <hr class="above-line"/>
		        <span ng-show="recipe.totalTimeInSeconds" class="fa fa-clock-o"/>
		        <span ng-show="recipe.totalTimeInSeconds">{{formatTime(recipe.totalTimeInSeconds)}}</span>
		        <span ng-bind-html="trust(setRating(recipe.rating))" />
		    	<hr class="below-line"/>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">
		        		<span class="fa fa-star" aria-hidden="true"></span>
		        	</a> 
		        	<a href="#/recipe/{{recipe.id}}" class="btn btn-default" role="button">
		        		<span class="fa fa-info-circle" aria-hidden="true"></span>
		        	</a>
		        </p>
	      	</div>
    	</div>
    </div>
    <div ng-repeat-end=""></div>
</div>